@model wildcatMicroFund.Areas.Entrepreneur.ViewModels.AppStatusVM
@{
    ViewData["Title"] = "New Applications";
    var successMessage = TempData["success"];
}

<div class="text-center">
    @if(successMessage != null){
        @if (successMessage.Equals(1))
        {
            <div class="alert alert-success" role="alert">
                Application Submitted Successfully!
            </div>
        }
        @if (successMessage.Equals(0))
        {
            <div class="alert alert-danger" role="alert">
                Error. Application not submitted.
            </div>
        }
    }
    <h1 class="display-4">Getting Started: </h1>
    <p class="py-2">We are happy to see that you are applying for the Wildcat Micro Fund! Please fill out the form below accurately...</p>
    <p>
        Lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor 
        lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolor lorem ipsum dolorlorem ipsum dolor lorem ipsum dolorlorem ipsum dolor
    </p>
    
    <h2 class="display-5 pb-3">To fill out a new application, click the link below!</h2>
    <div class="row row-cols-5">
        
        <a class="col-2 offset-5 btn btn-primary" asp-controller="NewApplication" asp-action="FillApp">New application</a>
        
    </div>

    <div class="row py-3">
        <h1 class="Display-5 row">Your applications:</h1>

        @if(Model != null)
            @foreach(var stat in Model.status)
            {
                @foreach(var uAss in Model.userAssignments)
                {
                    if(uAss.Application.AppStatus == stat.StatusID)
                    {
                        <div class="card py-2 col col-2">
                            <p class="card-header">Company Name: @uAss.Application.CompanyName</p>
                            <p class="card-body">Created Date: @uAss.Application.CreatedDate</p>
                            <p class="card-footer">App Status: @stat.StatusDesc</p>
                        </div>
                    }
                }
            }
        
        
    </div>
</div>
