@model IEnumerable<UserAssignment>
@{
    ViewData["Title"] = "New Applications";
}

<div class="text-center">
    <h1 class="display-4">Getting Started: </h1>
    <p class="py-2">We are happy to see that you are applying for the Wildcat Micro Fund! Please fill out the form below accurately...</p>
    <p>
        Lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor 
        lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolor lorem ipsum dolorlorem ipsum dolor lorem ipsum dolorlorem ipsum dolor
    </p>
    
    <h2 class="display-5 pb-3">To fill out a new application, click the link below!</h2>
    <div class="row row-cols-5">
        <div class="col-2"></div>
        <a class="col-3 btn btn-primary" asp-controller="NewApplication" asp-action="ApplicationForm">New application</a>
        <div class="col-2"></div>
        <a class="col-3 btn btn-secondary">Back to Home</a>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <h1 class="Display-5 row">Your applications:</h1>

        @foreach (var item in Model)
        {
            <div class="card col">
                <p class="card-header">@(
            item.Application.CompanyName
            )</p>
                <p class="card-body">@(
            item.Application.AppStatus
            )</p>
                <p class="card-footer">@(
            item.Application.CreatedDate
            )</p>
            </div>
        }
        
        
    </div>
</div>
