@model ReadyEmail
@{
    ViewData["Title"] = "Delete Email";
}
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Template</h2>
            <hr />
        </div>
        <!--Needed becasue all other items are disabled-->
        <input asp-for="Id" hidden />
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">

        </div>
        <div class="mb-3">
            <label asp-for="ReadyEmailContent"></label>
            <input asp-for="ReadyEmailContent" disabled class="form-control" />

        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="ReadyEmails" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }