@model Note
@{
    var appId = (int)TempData.Peek("tempAppId");

}
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add New Note</h2>
            <hr />
        </div>
        <input readonly hidden asp-for="Application.Id"/>
        <input readonly hidden asp-for="Application.CompanyName" />
        <input readonly hidden asp-for="NoteType.NoteTypeID" />
        <input readyonly hidden asp-for="NoteType.NoteTypeDesc"/>
        <div class="mb-3">
            <label asp-for="NoteContent">Note Content</label>

            <textarea id="mytextarea" class="form-control" style="height:200px;" asp-for="NoteContent"></textarea>
            <span asp-validation-for="NoteContent" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Save Changes</button>
        <a asp-area="Mentor" asp-controller="MentorNotes" asp-action="Index" asp-route-appId="@appId" class="btn btn-secondary" style="width:150px">
            Back
        </a>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }