@model IEnumerable<Note>

@{
    ViewData["Title"] = "Mentor Notes";
    var appId = (int) TempData.Peek("tempAppId");
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-5">
            <h2 class="text-primary">Notes</h2>
        </div>
        <div class="col-12 text-end">
            <a asp-controller="MentorNotes" asp-action="Create" asp-route-appId="@appId" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Add New Note
            </a>
     </div>
    </div>
    
    <br /><br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Note
                </th>
                <th>
                    Date
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="50%">
                        @obj.NoteContent
                    </td>
                    <td width="40%">
                        @obj.CreatedDate
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="MentorNotes" asp-action="Edit" asp-route-noteId="@obj.NoteID" class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i>Edit</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <div class="col-3 offset-5">
        @if (User.IsInRole("Admin"))
        {
            <a asp-area="Admin" asp-controller="AdminReviewApplications" asp-action="Index"class="btn btn-success">Back</a>
        }
        else{
            <a asp-area="Mentor" asp-controller="ReviewApplications" asp-action="Index" class="btn btn-success">Back</a>
        }
    </div>
</div>